

<div class="try">
  <div>
    <ion-icon name="caret-back-outline" (click)="back()"></ion-icon>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Cheque Deposit</ion-card-title>
    </ion-card-header>

  </ion-card>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>
          <p style="font-size: 20px;margin-top: 20px;">
            Do you wish to perform this transaction <br>in your home branch?
          </p>
        </ion-label>

      </ion-list-header>

      <ion-item class="item">
        Yes<div>
          <ion-radio value="cord"></ion-radio>
        </div>No<div>
          <ion-radio value="duesenberg"></ion-radio>
        </div>



      </ion-item>

    </ion-radio-group>


  </ion-list>

  <form>


    <ion-label style="padding: 30px;margin:auto;">Transaction Branch</ion-label>

    <ion-input type="text"></ion-input>




    <ion-label style="padding: 30px;margin:auto;">Transaction Date</ion-label>

    <ion-input type="password"></ion-input>


    <ion-label style="padding: 30px;margin:auto;">Time Slot</ion-label>

    <ion-input type="text"></ion-input>


    <ion-label style="padding: 30px;margin:auto;">Remark</ion-label>

    <ion-input type="password"></ion-input>





  </form>
</div>